
<div id="about" class="about-section">
    <div class="container">
        <div class="row about-content">
            <div class="text-center text-white">
                <div class="about-text">
                    <h2 class="about-heading fw-bold">When you support a child</h2>
                    <p class="about-paragraph">
                        You are not just helping them go to school and have a healthy childhood. You are supporting the whole community that the child belongs to!
                        We strive to build a sustainable and socially just future for every community we work with. Children's education, nutrition and protection are at the centre of our focus in all our initiatives.
                    </p>
                    <h2 class="about-heading fw-bold">Donation for Child Education — An Investment in Our Future</h2>
                    <p class="about-paragraph">
                        The right to education is a fundamental human right to a healthy and happy community. But less than half of 6–14 years of age go to school in India. Many of them undergo child labour due to the bad socio-economic situation of their parents. They are socially excluded and marginalized.
                        <br>
                        Let’s focus on child education. Contribute Donate Online For Children Education, NGO Working for Child Education more towards skill development of poor children and save on taxes. Help Empowering Minds to take care of children in poverty and fulfil their basic requirements. Your donation allows us to give quality shelter, education & specialized care to children and support skill development programs for people in marginalized, under-represented, or vulnerable communities.
                        <br>
                        Donate Online for Children Education is totally safe and secure. It helps them to study better and to build a better future for themselves.
                        <br>
                        Donate children for the education to help orphans and provide nourishment to children. To sponsor a child can potentially play a vital role in the country's development as educated children are the key to a bright future. As you sponsor a charity, it shall help children of India as your will go a long way in providing educational opportunities for children as well as sponsor a girl child, who would otherwise be left behind.
                    </p>
                    <a class="btn btn-dark">Know More</a>
                </div>
            </div>
        </div>
    </div>
</div>
  