<div>
    <footer class="py-3" id="footer">
        <div class="content-wrap">

            <h2 class="footer-heading mt-5">You can contact us through social media!</h2>

            <ul class="contact-list">
            <li>
                <a class="footer-link facebook" href="#" target="_blank">
                    <i class="fab fa-lg fa-facebook-square"></i>
                </a>
            </li>
            <li>
                <a class="footer-link linkedin" href="#" target="_blank">
                    <i class="fab fa-lg fa-linkedin"></i>
                </a>
            </li>
            <li>
                <a class="footer-link insta" href="#" target="_blank">
                    <i class="fab fa-lg fa-instagram-square"></i>
                </a>
            </li>
            <li>
                <a class="footer-link twitter" href="#" target="_blank">
                    <i class="fab fa-lg fa-twitter-square"></i>
                </a>
            </li>
            </ul>
            <div class="mt-5">
                <h2 class="footer-heading query">If you have any queries you can mail us here.</h2>
                <a href="#" class="footer-link mail">
                    <i class="fas fa-envelope"></i>
                </a>
            </div>
        </div>
    </footer>
    <div class="copyright">
        © 2021 Copyright: Child Donation  <i class="fas fa-sm fa-child"></i>
    </div>
</div>